<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-brand">
            <a href="/home" aria-label="Ir para a página inicial">
                <img src="/img/logo-100x100.webp" alt="Logo da associação">
            </a>
        </li>
        <li class="navbar-item">
            <a href="/distribuicoes">Distribuição</a>
        </li>
        <li class="navbar-item">
            <a href="/cadastrar">Cadastrar familia</a>
        </li>
        <li class="navbar-item">
            <a href="/consultar">Consulta</a>
        </li>
        <li class="navbar-item">
            <a href="/projetos">Projetos</a>
        </li>
        <li class="navbar-item">
            <a href="/configuracoes/usuarios">Configurações</a>
        </li>
        <li class="navbar-action">
            <form action="/logout" method="post">
                <button type="submit">Sair</button>
            </form>
        </li>
    </ul>
</nav>
